<nav class="navbar navbar-expand-lg navbar-light bg-dark bg-opacity-75 fixed-top baratas">
    <div class="container-fluid">
      <a class="navbar-brand text-white navio navio3 logo" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-2">
          <li class="nav-item">
            <a class="nav-link active mx-2 " aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-2" aria-current="page" href="#">WORK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-2" aria-current="page" href="#">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-2" aria-current="page" href="#">ABOUT ME</a>
          </li>
        </ul>
        <div class="collapse navbar-collapse navio2" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/register">SIGN UP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login">LOGIN</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>