<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <%- include('partials/head') %>
  <link rel="stylesheet" href="css/regis.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container-fluid" id="game">
      <div id="position" class="container d-flex flex-column text-center position-absolute top-50 start-50 translate-middle">
        <div class="row justify-content-center">
          <div class="col bg">
            <form action="/register" method="post">
              <p class="h3 mb-5">Register LOGO acount</p>
              <div class="mb-3">
                <label for="username" class="form-label text-co">Username</label>
                <input type="text" class="form-control text-center" id="username" aria-describedby="username"  placeholder="Enter username" name="username">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label text-co">Password</label>
                <input type="password" class="form-control text-center" id="inputpass" name="password"  placeholder="Enter password">
              </div>
              <div class="mb-3">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label text-co" for="exampleCheck1">receive update infromation to your email</label>
              </div>
              <button type="submit" class="btn btn-warning fw-bold text-uppercase" id="buto">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/scrip') %>
</body>
</html>